<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrc.mapper.ManageUserMapper">

    <insert id="save">
        insert into user (USERNAME, PASSWORD, PHONE, CREATE_TIME, UPDATE_TIME, ADMIN_ID,DELETED) VALUES
               (#{username},#{password},#{phone},#{createTime},#{updateTime},#{adminId},#{deleted})
    </insert>
    <select id="selectAll" resultMap="userWithAdminResultMap">
        SELECT user.*, admin.ADMIN_NAME
        FROM user
        LEFT JOIN admin ON user.admin_id = admin.id
        WHERE DELETED = 0
    </select>


    <!--    resultMap -->
    <resultMap id="userWithAdminResultMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="adminId" column="admin_id"/>
        <result property="deleted" column="deleted"/>
        <!-- 使用<association>标签将User表和Admin表关联起来 -->
        <association property="admin" javaType="Admin">
            <id property="id" column="admin_id"/>
            <result property="adminName" column="admin_name"/>
        </association>
    </resultMap>
</mapper>